.whiteRight {
  color:white;
  font-family: 'righty';
}
.redRight {
  color:red;
  font-family: 'righty';
}
.orangeRight {
  color:orange;
  font-family: 'righty';
}
.yellowRight {
  color:yellow;
  font-family: 'righty';
}
.greenRight {
  color:green;
  font-family: 'righty';
}
.blueRight {
  color:blue;
  font-family: 'righty';
}
.purpleRight {
  color:purple;
  font-family: 'righty';
}
.pinkRight {
  color:pink;
  font-family: 'righty';
}
.brownRight {
  color:brown;
  font-family: 'righty';
}
.blackRight {
  color:black;
  font-family: 'righty';
}
