.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-pricing {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(33,38,45);
}
.home-container1 {
  width: 100%;
  display: flex;
  padding: var(300px);
  max-width: var(800px);
  align-items: center;
  background-size: cover;
  justify-content: center;
}
.home-pricing-card {
  width: 100%;
  display: flex;
  padding: var(300px);
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(200px);
  margin-right: var(200px);
  padding-left: var(200px);
  border-radius: var(25px);
  padding-right: var(200px);
  flex-direction: column;
  padding-bottom: var(200px);
  justify-content: space-between;
  background-color: var(rgb(33,38,45));
}
.home-pricing-card:hover {
  transform: scale(1.02);
}
.home-text {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(200px);
  text-transform: uppercase;
}
.home-container2 {
  display: flex;
  align-items: center;
  margin-bottom: var(200px);
  flex-direction: row;
}
.home-text01 {
  font-size: 1.15rem;
  margin-top: var(200px);
  font-weight: 300;
}
.home-text04 {
  font-size: 4rem;
  font-weight: 700;
}
.home-container3 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(300px);
  flex-direction: column;
}
.home-text05 {
  margin-bottom: var(100px);
}
.home-text07 {
  margin-bottom: var(100px);
}
.home-text09 {
  margin-bottom: var(100px);
}
.home-text11 {
  margin-bottom: var(100px);
}
.home-button {
  color: var(rgb(255,255,255));
  margin-top: auto;
  padding-top: var(100px);
  padding-left: var(200px);
  padding-right: var(200px);
  padding-bottom: var(100px);
  background-color: var(rgb(33,38,45));
}
.home-pricing-card1 {
  width: 100%;
  display: flex;
  padding: var(200px);
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  margin-right: var(200px);
  border-radius: var(25px);
  flex-direction: column;
  background-color: var(rgb(33,38,45));
}
.home-pricing-card1:hover {
  transform: scale(1.02);
}
.home-text13 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(200px);
  text-transform: uppercase;
}
.home-container4 {
  display: flex;
  align-items: center;
  margin-bottom: var(200px);
  flex-direction: row;
}
.home-text14 {
  font-size: 1.15rem;
  margin-top: var(200px);
  font-weight: 300;
}
.home-text17 {
  font-size: 4rem;
  font-weight: 700;
}
.home-text18 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: var(200px);
  font-weight: 300;
}
.home-text20 {
  color: var(rgb(33,38,45));
  font-size: 0.75rem;
  margin-bottom: var(200px);
}
.home-container5 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(300px);
  flex-direction: column;
}
.home-text23 {
  margin-bottom: var(100px);
}
.home-text25 {
  margin-bottom: var(100px);
}
.home-text27 {
  margin-bottom: var(100px);
}
.home-text29 {
  margin-bottom: var(100px);
}
.home-text31 {
  margin-bottom: var(100px);
}
.home-button1 {
  color: var(rgb(33,38,45));
  margin-top: auto;
  padding-top: var(100px);
  padding-left: var(200px);
  padding-right: var(200px);
  padding-bottom: var(100px);
  background-color: var(rgb(33,38,45));
}
.home-pricing-card2 {
  width: 100%;
  display: flex;
  padding: var(300px);
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(200px);
  padding-left: var(200px);
  border-radius: var(25px);
  padding-right: var(200px);
  flex-direction: column;
  padding-bottom: var(200px);
  background-color: var(rgb(33,38,45));
}
.home-pricing-card2:hover {
  transform: scale(1.02);
}
.home-text33 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(200px);
  text-transform: uppercase;
}
.home-container6 {
  display: flex;
  align-items: center;
  margin-bottom: var(200px);
  flex-direction: row;
}
.home-text34 {
  font-size: 1.15rem;
  margin-top: var(200px);
  font-weight: 300;
}
.home-text37 {
  font-size: 4rem;
  font-weight: 700;
}
.home-text38 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: var(200px);
  font-weight: 300;
}
.home-text40 {
  color: var(rgb(33,38,45));
  font-size: 0.75rem;
  margin-bottom: var(200px);
}
.home-container7 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(100px);
  flex-direction: column;
}
.home-text43 {
  margin-bottom: var(100px);
}
.home-text45 {
  margin-bottom: var(100px);
}
.home-text47 {
  margin-bottom: var(100px);
}
.home-text49 {
  margin-bottom: var(100px);
}
.home-button2 {
  color: var(rgb(33,38,45));
  margin-top: auto;
  padding-top: var(100px);
  padding-left: var(200px);
  padding-right: var(200px);
  padding-bottom: var(100px);
  background-color: var(rgb(33,38,45));
}
@media(max-width: 991px) {
  .home-pricing-card {
    width: 100%;
    padding: var(200px);
    max-width: 100%;
    align-items: center;
  }
  .home-pricing-card1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .home-pricing-card2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
}
@media(max-width: 767px) {
  .home-container1 {
    flex-flow: column;
    padding-left: var(200px);
    padding-right: var(200px);
  }
  .home-pricing-card {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(200px);
  }
  .home-pricing-card1 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(200px);
  }
  .home-pricing-card2 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(200px);
  }
}
@media(max-width: 479px) {
  .home-container1 {
    padding-top: var(200px);
    padding-left: var(100px);
    padding-right: var(100px);
    padding-bottom: var(200px);
  }
  .home-pricing-card2 {
    margin-bottom: 0px;
  }
}
